.doc-pdf-title{
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

.doc-pdf-title h1{
    opacity: 0.7;
    font-size: 50px;
    font-weight: normal;
}

.doc-pdf-title h4{
    opacity: 0.7;
    font-weight: normal;
}

.doc-pdf-label {
    margin-top: 30px;
    display: inline-block;
    padding: 20px 20px;
    width: 300px;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;

}

.doc-pdf-label:hover {
    transform: scale(1.1);
}


@media (max-width : 768px){
    .doc-pdf-label{
        width: 150px;
    }
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: auto;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.convert-btn {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.loader3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars {
    width: 10px;
    height: 20px;
    margin: 0 2px;
    border-radius: 4px;
    animation: loader3 3s ease-in-out infinite;
}

.bar1 {
    background-color: #4285F4;
    animation-delay: -0.8s;
}

.bar2 {
    background-color: #4285F4;
    animation-delay: -0.7s;
}

.bar3 {
    background-color: #4285F4;
    animation-delay: -0.6s;
}

.bar4 {
    background-color: #4285F4;
    animation-delay: -0.5s;
}

.bar5 {
    background-color: #4285F4;
    animation-delay: -0.4s;
}

.bar6 {
    background-color: #4285F4;
    animation-delay: -0.3s;
}

.bar7 {
    background-color: #4285F4;
    animation-delay: -0.2s;
}

.bar8 {
    background-color: #4285F4;
    animation-delay: -0.1s;
}

.bar9 {
    background-color: #4285F4;
    animation-delay: 0s;
}

.bar10 {
    background-color: #4285F4;
    animation-delay: 0.1s;
}

@keyframes loader3 {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.32);
    }

    40% {
        transform: scale(1);
    }
}